# PIO
### Lab 03: Python w pigułce, cz 2

**start 10:05**

### w cz 1
* zmienne, typy
* warunki logiczne i rozgałęzienia `if-elif-else`
* pętle `while` i `for` 
* typy sekwencyjne, konkatenacja, wycinanie list

### Ćwiczenie 0 (gdy czekamy na wszystkich)
Napisz program wczytujący pesel użytkownika. Zweryfikuj jego poprawność. Na podstawie numeru pesel wydrukuj informacje o płci osoby, miesiącu jej urodzenia i obecnym wieku (ustalonym na podstawie roku).

Przykładowa postać:

| 020708 | 0362 | 8 |

* cyfry [1-6] – data urodzenia z określeniem stulecia urodzenia
* cyfry [7-10] – numer serii z oznaczeniem płci
* cyfra [10] – płeć (parzyste - kobieta, nieparzyste - mężczyzna)
* cyfra [11] – cyfra kontrolna

Jak obliczyć cyfrę kontrolną - https://www.gov.pl/web/gov/czym-jest-numer-pesel

### Ćwiczenie 1
Za pomocą pętli `for` zbuduj wykorzystując konkatenację (`obj1 + obj2`)

* **[Banyś	Kinga, Barwinek	Natalia, Dystrych	Daniel, Grzegorczyk	Paweł]**
    listę kwadratów liczb od 100 do 200, oblicz jej sumę -> 
    ```[10000, 40000, ...]```
* **[Homa	Natalia, Kłodzińska	Gabriela, Ładak	Weronika, Sikora	Karolina]**: 
    krotkę pierwiastków liczb od 100 do 200, oblicz jej sumę -> 
    ```(10.0, 14.142135623730951, ...)```
* **[Sotnikov	Vladyslav, Tomanek	Michał, Wójcicki	Ziemowit, Zieliński	Michał]**: 
    ciąg znaków sześcianów liczb od 100 do 200, podaj długość ciągu -> 
    ```"1000000, 1030301, ..."```

## wyrażenia listowe (słownikowe) z warunkiem

```
[funkcja(zmienna) for zmienna in sekwencja if WARUNEK]
```

In [23]:
# listę kwadratów liczb od 100 do 200, oblicz jej sumę

# wyrażenie listowe
L = [i**2 for i in range(100, 200 + 1) if i%2 == 0]
# print(sum(L))

# generator
G = (i**0.5 for i in range(100, 200 + 1))
# print(sum(G))

# join
Z = ' - '.join([str(i**3) for i in range(100, 200 + 1)])
# print(len(Z))

# słownik kwadratów liczb od 100 do 200, oblicz jej sumę -> [10000, 40000, ...]
S = {key: key**2 for key in range(100, 201) if key%2}
# print(sum(S.values()))

### Ćwiczenie 2
Za pomocą wyrażeń listowych

* **Banyś Kinga, Tomanek Michał** Wygeneruj listę wszystkich liczb podzielnych przez 3 z przedziału 1000 do 1200.  
* **Barwinek Natalia, Wójcicki Ziemowit** Wygeneruj listę lat przestępnych od 1900 do 2000.
* **Dystrych Daniel, Zieliński Michał** Wygeneruj listę sześcianów liczb z przedziału $[99, 9]$.
* **Grzegorczyk Paweł** Wygeneruj listę krotek $(x, y)$ przy czym $x \ne y$ $x,y\in [0,20]$.
* **Homa Natalia** Wygeneruj listę krotek $(x, y)$ przy czym $x + y>5$ $x,y\in [0,20]$.
* **Kłodzińska Gabriela** Wygeneruj listę krotek (C, F), gdzie C, to temperatura w skali Celsjusza zmieniajca się od -20 do 100 stopni co 5 stopni, a F to odpowiadająca jej temperatura w skali Fahrenheita.
* **Ładak Weronika** Utwórz listę imion osób z Twojej grupy.  Utwórz listę imion  zakończonych literą "a".
* **Sikora Karolina** Utwórz listę krotek zawierającą imiona i nazwiska osób z grupy `[(Imie, Nazwisko), (Adam, Bober), ...]`. Na jej bazie zbuduj listę zawierającą inicjały w formie `['IN', 'AB', ...]`.
* **Sotnikov Vladyslav** Utwórz listę słowników zawierającą imiona i nazwiska osób z grupy `[{Imie: Nazwisko}, {Adam: Bober}, ...]`. Na jej bazie zbuduj listę zawierającą inicjały w formie `['I-N', 'A-B', ...]`.

In [24]:
print([i for i in range(1000,1201) if i%3==0])
print([i**3 for i in range (9,100)][::-1])
print([year for year in range(1900, 2001) if (year%4==0 and year%100!=0) or (year%400==0)])
G = [('Karolina','Sikora'),('Daniel','Dystrych'),('Kinga','Banys'),('Michał','Tomanek'),('Michał','Zieliński'),('Natalia','Barwinek'),('Natalia','Homa'),
     ('Vladyslav','Sotnikov'),('Weronika','Ladak'),('Ziemowit','Wojcicki')]
print([k[0][0]+k[1][0] for k in G])
grupa = ['Kinga', 'Michał', 'Natalia', 'Ziemowit', 'Daniel', 'Michał', 'Paweł', 'Natalia', 'Gabriela', 'Weronika', 'Karolina', 'Wladyslaw']
print([imie for imie in grupa if imie[-1] == 'a'])

[1002, 1005, 1008, 1011, 1014, 1017, 1020, 1023, 1026, 1029, 1032, 1035, 1038, 1041, 1044, 1047, 1050, 1053, 1056, 1059, 1062, 1065, 1068, 1071, 1074, 1077, 1080, 1083, 1086, 1089, 1092, 1095, 1098, 1101, 1104, 1107, 1110, 1113, 1116, 1119, 1122, 1125, 1128, 1131, 1134, 1137, 1140, 1143, 1146, 1149, 1152, 1155, 1158, 1161, 1164, 1167, 1170, 1173, 1176, 1179, 1182, 1185, 1188, 1191, 1194, 1197, 1200]
[970299, 941192, 912673, 884736, 857375, 830584, 804357, 778688, 753571, 729000, 704969, 681472, 658503, 636056, 614125, 592704, 571787, 551368, 531441, 512000, 493039, 474552, 456533, 438976, 421875, 405224, 389017, 373248, 357911, 343000, 328509, 314432, 300763, 287496, 274625, 262144, 250047, 238328, 226981, 216000, 205379, 195112, 185193, 175616, 166375, 157464, 148877, 140608, 132651, 125000, 117649, 110592, 103823, 97336, 91125, 85184, 79507, 74088, 68921, 64000, 59319, 54872, 50653, 46656, 42875, 39304, 35937, 32768, 29791, 27000, 24389, 21952, 19683, 17576, 15625, 13824, 12167, 10648, 9261, 8000, 6859, 5832, 4913, 4096, 3375, 2744, 2197, 1728, 1331, 1000, 729]
[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000]
['KS', 'DD', 'KB', 'MT', 'MZ', 'NB', 'NH', 'VS', 'WL', 'ZW']
['Kinga', 'Natalia', 'Natalia', 'Gabriela', 'Weronika', 'Karolina']

# Funkcje

```
def nazwa_funkcji(arg1, arg2, arg3=var1, arg4=var2, *args, **kwargs):
    """
    To jest docsting funkcji.
    """
    
    CIAŁO_FUNKCJI
    Tu mamy dostęp do wszystkich powyższych parametrów formalnych funkcji
    bez potrzeby ich definiowania (są zdefiniowane w nawiasie).
    
    return <obj>
```

In [25]:
def dodaj_10(x):
    'Funkcja dodaje 10 do liczby x i zwaraca sumę'
    ret = x + 10
    return ret

In [26]:
dodaj_10(10)

20

In [27]:
dodaj_10(-10)

0

In [28]:
def odejmij_10(x=10):
    '''
    Funkcja odejmuje 10 do liczby x i zwaraca różnicę
    WE
        x: INT/FLOAT, domyślnie x = 10
    WY
        INT/FLOAT: x - 10
    '''
    ret = x - 10
    return ret

In [31]:
odejmij_10(10), odejmij_10()

(0, 0)

### Ćwiczenie 3
Skonstruuj własne funkcje, jako argument będziemy podawać liczbę

1. zwracającą kwadrat liczby
* zwracającą pierwiastek liczby
* zwracającą liczbę o przeciwnym znaku
* zwracającą `True` gdy liczba jest parzysta lub `False` gdy nie jest
* zwracającą `True` gdy liczba jest nieparzysta lub `False` gdy nie jest
* zwracającą odwrotność liczby


Lista
1. Banyś Kinga, Barwinek Natalia
3. Dystrych Daniel, Grzegorczyk Paweł
5. Homa Natalia, Kłodzińska Gabriela
7. Ładak Weronika, Sikora Karolina
9. Sotnikov Vladyslav, Tomanek Michał
11. Wójcicki Ziemowit, Zieliński Michał

In [38]:
# Ziemowit Wojcicki11:24
def return_inv(x):
    """
    Funckcja przyjuje jako argument liczbę typu int lub float, 
    różną od zera i zwraca jej odwrotność. 
    W przeciwnym razie zwraca None.
    """
    if x != 0:
        inv = 1/x
        return inv
    else:
        return None
    
    # jezeli x == 0, bedziemy w tej linii
#     return
#     return None

In [39]:
print(return_inv(10))

0.1

In [40]:
print(return_inv(0))

None

In [46]:
def czy_wieksza(x, y=0):
    print(f'x={x}, y={y}')
    return x > y

In [47]:
czy_wieksza(12, 10)

x=12, y=10

True

In [48]:
czy_wieksza(12)

x=12, y=0

True

In [49]:
czy_wieksza(x=12)

x=12, y=0

True

In [50]:
czy_wieksza(x=12, y=24)

x=12, y=24

False

In [51]:
czy_wieksza(y=24, x=12)

x=12, y=24

False

In [53]:
czy_wieksza(12, y=17)

x=12, y=17

False

In [54]:
czy_wieksza(12, x=17)

TypeError: czy_wieksza() got multiple values for argument 'x'

In [55]:
czy_wieksza(y=17, 23)

SyntaxError: positional argument follows keyword argument (<ipython-input-55-241532e91378>, line 1)

### Ćwiczenie 4
Zbuduj funkcje

1. `plus(a, b)`: zwraca sumę wartości bezwzględnych a i b, ale tylko gdy oba arg są liczbami
* `iloczyn(a, b)`: zwraca iloczyn wartości a i b, ale tylko gdy oba są liczbami LUB jeden jest stringiem
* `znak(x)`: zwraca -1 gdy x < 0, 0 gdy x = 0, 1 gdy x > 0
* `modulo(a, b)`: zwraca wynik reszty dzielenia większej liczby przez mniejszą
* `foo(u, v)`: iloczyn liczb a i b gdy choć jedna jest parzysta lub iloraz w innym przypadku
* `suma(r)`: zwraca sumę wszystkich liczb naturalnych mniejszych od r, gdy r > 0

Lista

1. Dystrych Daniel, Grzegorczyk Paweł
5. Homa Natalia, Kłodzińska Gabriela
7. Ładak Weronika, Sikora Karolina
9. Sotnikov Vladyslav, Tomanek Michał
11. Wójcicki Ziemowit, Zieliński Michał
1. Banyś Kinga, Barwinek Natalia

In [66]:
# help(dwie_liczby)

In [68]:
def dwie_liczby(a, b, slownik=True):
    'WY: (a, b, suma, roznica, iloczyn, iloraz)'
    suma = a + b
    roznica = a - b
    iloczyn = a * b
    iloraz = a / b if b != 0 else None
    if slownik:
        ret = {'a': a, 'b': b,
           'suma': suma, 'roznica': roznica, 
           'iloczyn': iloczyn, 'iloraz': iloraz}
    else:
        ret = (a, b, suma, roznica, iloczyn, iloraz) 
    return ret

# dwie_liczby(3, 1, slownik=not False)

### Ćwiczenie 5
Zaprojektuj funkcje zwracające (a) listę liczb od A do B podzielnych przez X i Y, (b) ich sumę oraz (c) iloczyn (zwracamy wszystkie 3 informacje a-b-c)

1. A = 0, B = 1000, X = 13, Y = 7
1. A = -1000, B = 0, X = 13, Y = 7
1. A = 99, B = 199, X = 3, Y = 4
1. A = 0, B = 300, X = 9, Y = 5
1. A = -342, B = 567, X = 11, Y = 19
1. A = -123, B = 123, X = 2, Y = 11

Lista
1. Homa Natalia, Kłodzińska Gabriela
7. Ładak Weronika, Sikora Karolina
9. Sotnikov Vladyslav, Tomanek Michał
11. Wójcicki Ziemowit, Zieliński Michał
1. Banyś Kinga, Barwinek Natalia
1. Dystrych Daniel, Grzegorczyk Paweł

# funkcja lambda

```
    foo = lambda arg, arg2, ...: jednolinijkowe_cialo_funkcj_lambda
```

In [70]:
dwa_x = lambda x: 2 * x

In [75]:
# dwa_x(12)

### Ćwiczenie 6
Skonstruuj własne funkcje lambda o jednym parametrze formalnym

1. zwracającą kwadrat liczby
* zwracającą pierwiastek liczby
* zwracającą liczbę o przeciwnym znaku
* zwracającą odwrotność liczby
* zwracającą połowę wartości liczby
* zwracającą podwojoną wartość liczby

Każdą z nich 
* uruchom dla kilku argumentów, 
* przechwyć do zmiennej, 
* uruchom w pętli

Lista
1. Homa Natalia, Kłodzińska Gabriela
7. Ładak Weronika, Sikora Karolina
9. Sotnikov Vladyslav, Tomanek Michał
11. Wójcicki Ziemowit, Zieliński Michał
1. Banyś Kinga, Barwinek Natalia
1. Dystrych Daniel, Grzegorczyk Paweł

In [74]:
(lambda x: 10 * x)(10)

100

### Ćwiczenie 7
Skonstruuj funkcje `lambda` (zaproponuj rozsądne nazwy)

1. zwracającą listę liczb parzystych od 0 do argumentu
* zwracającą listę liczb nieparzystych od -|argumentu| do 0
* zwracającą listę liczb podzielnych przez 7 od -|argumentu| do |argumentu|
* zwracającą słownik pierwszych N liter alfabetu (klucze) wraz z ich kodem ascii (wartości)
* zwracającą podany ciąg znaków bez spacji (funkcja usuwająca spacje)
* zwracającą słownik liter alfabetu (klucze) wraz z ich kodem ascii (wartości) od `a` aż do podanej litery jako argument

Lista
1. Ładak Weronika, Sikora Karolina
9. Sotnikov Vladyslav, Tomanek Michał
11. Wójcicki Ziemowit, Zieliński Michał
1. Banyś Kinga, Barwinek Natalia
1. Dystrych Daniel, Grzegorczyk Paweł
1. Homa Natalia, Kłodzińska Gabriela

In [83]:
# zwracającą słownik pierwszych N liter alfabetu (klucze) wraz z ich kodem ascii (wartości)
N = 5
{letter: ord(letter) for letter in 'abcdefghij'[:N]}

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [84]:
from string import ascii_lowercase
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

### Ćwiczenie 8
Skonstruuj dwuargumentowe funkcje `lambda`

1. zwracającą listę liczb parzystych od `a` do `b`
* zwracającą listę liczb nieparzystych od `a` do `b`
* zwracającą listę liczb podzielnych przez 7 od `a` do `b`
* zwracającą słownik liter alfabetu (klucze) wraz z ich kodem ascii (wartości) od `litera1` do `litera2`
* zwracającą podany ciąg znaków `s` bez `znaku` (funkcja usuwająca `znak` z `s`)
* zwracającą listę liczb od `a` do `b` jeżeli w rozwinięciu binarnym liczby jest dokładnie jedno zero

Lista
1. Sotnikov Vladyslav, Tomanek Michał
11. Wójcicki Ziemowit, Zieliński Michał
1. Banyś Kinga, Barwinek Natalia
1. Dystrych Daniel, Grzegorczyk Paweł
1. Homa Natalia, Kłodzińska Gabriela
1. Ładak Weronika, Sikora Karolina


### Ćwiczenie 9
Zbuduj funkcję obliczającą n-ty wyraz ciągu Fibonacciego. 

1. rekurencyjnie
2. iteracyjnie

$$F(0) = 1, n = 0$$
$$F(1) = 1, n= 1$$
$$F(n) = F(n-1) + F(n-2), n=2, 3, 4, ...$$

In [85]:
# 1, 1, 2, 3, 5, 8, 13, 21, 34...