In [19]:
# + * - / // %
3 + 2

5

# Typy, zmienne, literały

In [22]:
zmienna = "obj"

In [23]:
zmienna

'obj'

In [25]:
x = 3
x

3

In [27]:
y = 3.1415
y

3.1415

In [28]:
type(y)

float

In [29]:
type(x)

int

In [30]:
z = 3 + 12j
z

(3+12j)

In [31]:
type(z)

complex

In [33]:
xy = x + y

In [34]:
xy

6.141500000000001

In [35]:
print(xy)

6.141500000000001

### Ćw 1
Przelicz  temperaturę podaną w stopniach Celsiusza na stopnie Kelwina i Fahrenheita. Proszę użyć zmiennych.

* Jadwiga: 20
* Natalia B: 35
* Daniel: 27
* Gabriela: 28
* Weronika: 16
* Ziemowit: 35
* Paweł: 18
* Karolina: 17
* Michał T: 25
* Michał Z: 22
* Vladyslav: 25
* Kinga: 20
* Natalia H: 28

In [45]:
C = 16

K = 273.15 + C
F = (C * 1.8) + 32

print("Celsiusza:", C)
print("Kelwina:", K)
print("Fahrenheita:", F)

Celsiusza: 16
Kelwina: 289.15
Fahrenheita: 60.8

## `print` i formatowanie zmiennych łańcuchowych

In [50]:
s1 = 'apostrofy'

In [51]:
s2 = "cudzysłowy"

In [52]:
s3 = '''3 

apostrof'''

In [53]:
s4 = """3

cudzysłów"""

In [54]:
s1, s2, s3, s4

('apostrofy', 'cudzysłowy', '3 \n\napostrof', '3\n\ncudzysłów')

In [55]:
# c
"zmienna s1 = %s" % s1

'zmienna s1 = apostrofy'

In [56]:
"zmienne s1 = %s, s2 = %s" % (s1, s2)

'zmienne s1 = apostrofy, s2 = cudzysłowy'

In [57]:
"zmienne s1 = %d, s2 = %f" % (123, 3.1415)

'zmienne s1 = 123, s2 = 3.141500'

In [68]:
# python
"zmienne 123 = {}, pi = {}, s1 = {}".format(123, 3.1415, s1)

'zmienne 123 = 123, pi = 3.1415, s1 = apostrofy'

In [69]:
s11 = "zmienne 123 = {}, pi = {}, s1 = {}".format(123, 3.1415, s1)

In [70]:
print(s11)

zmienne 123 = 123, pi = 3.1415, s1 = apostrofy

In [64]:
s11

'zmienne 123 = 123, pi = 3.1415, s1 = apostrofy'

In [66]:
# python
f"zmienne {s1}, {321}, {y}"

'zmienne apostrofy, 321, 3.1415'

In [67]:
s12 = f"zmienne {s1}, {321}, {y}"
print(s12)

zmienne apostrofy, 321, 3.1415

### Ćw 2
Napisz prosty program zamieniający długość podaną w metrach na jednostki z wysp Brytyjskich (stopy, cale, jardy i mile). Użyj zmiennych. Odpowiedź sformatuj w ciągu znaków (`"{} {}".format(a, b)`)

* 1 cal = 2.54 cm
* 1 stopa = 12 cali
* 1 jard = 3 stopy
* 1 mila = 1760 jardów

Zadania:
* Jadwiga: 974 m na cale
* Natalia B: 537 m na stopy
* Daniel: 382 m na jardy 
* Gabriela: 296 m na mile
* Weronika: 132 m na cale
* Ziemowit: 937 m na stopy
* Paweł: 775 m na jardy 
* Karolina: 767 m na mile
* Michał T: 231 m na cale
* Michał Z: 834 m na stopy
* Vladyslav: 849 m na jardy 
* Kinga: 957 m na mile
* Natalia H: 481 m na cale

In [75]:
# Weronika Ladak
metry = 132
centymetry = metry * 100
cale =  centymetry / 2.54
print("{}m to {} cala".format(metry, cale))

# Daniel Dystrych
metry = 382 
cale = metry*100/2.54
stopy = cale/12
jard = stopy/3
mile = jard/1760
print('{} metry to {} mili'.format(metry,mile))

# Natalia Barwinek11:01
m = 537
s = ((m*100)/2.54)/12
print("{} m to {} ft".format(m,s))

# Jadwiga Jachymiak11:01
m = 974
cm  = m * 100
cal =  cm / 2.54
print("{}m to {} cala".format (m, cal))

# Natalia Homa11:01
m = 481
c = 100 * m / 2.54
print("{} metrów to {} cali".format(m,c))

# Michal Zielinski11:01
m = 834
c = m * 100 / 2.54
s = c / 12
print("{} metry na stopy {}". format(m,s))

# Kinga
metry =957 
cm= metry *100
cale= cm/2.54
stopy= cale/12
jard= stopy/3
mile = jard/1760
print("{}m to {} mile".format (metry, mile))

132m to 5196.850393700787 cala
382 metry to 0.23736379543466157 mili
537 m to 1761.8110236220473 ft
974m to 38346.45669291339 cala
481 metrów to 18937.007874015748 cali
834 metry na stopy 2736.2204724409453
957m to 0.5946522309711286 mile

In [74]:
m = 481
c = 100 * m / 2.54
print("{} metrów to {} cali".format(m,c))

481 metrów to 18937.007874015748 cali

### Cw 3
Oblicz pierwiastki trójmianu kwadratowego. Użyj zmiennych. Odpowiedź sformatuj w ciągu znaków (`"{} {}".format(a, b)`) i wydrukuj `print`em.

* Jadwiga: $5x^2 + 3x -6 = 0$
* Natalia B: $6x^2 + 6x -8 = 0$
* Daniel: $1x^2 + 5x -4 = 0$
* Gabriela: $5x^2 + 4x -7 = 0$
* Weronika: $6x^2 + 6x -3 = 0$
* Ziemowit: $7x^2 + 6x -7 = 0$
* Paweł: $7x^2 + 8x -2 = 0$
* Karolina: $4x^2 + 6x -2 = 0$
* Michał T: $1x^2 + 6x -8 = 0$
* Michał Z: $2x^2 + 8x -8 = 0$
* Vladyslav: $4x^2 + 9x -1 = 0$
* Kinga: $3x^2 + 8x -4 = 0$
* Natalia H: $4x^2 + 4x -9 = 0$

In [76]:
# Daniel Dystrych 11:09
a, b, c = -1, 5, 4
delta = b**2 + 4 * a * c
x1, x2 = (-b + delta ** (1/2)) / (2 * a), (-b - delta ** (1/2)) / (2 * a)
print('x1 wynosi {}, x2 wynosi {}'.format(x1, x2))

x1 wynosi 1.0, x2 wynosi 4.0

In [80]:
# Weronika Ladak11:13
import math
# 6x^2 + 6x - 3 = 0
a = 6
b = 6
c = -3
delta = b**2 - 4*a*c
pierwiastek = math.sqrt(delta)
x1 = (-b + pierwiastek) / (2*a) 
x2 = (-b - pierwiastek) / (2*a)
print("Rozwiązanie podanego równania: {} lub {}".format(x1, x2))


# Michal Zielinski11:13
a = 2
b = 8
c = -8
d = b**2 - 4 * a * c
x1 = (-b - (d)**(1/2)) / (2*a)
x2 = (-b + (d)**(1/2)) / (2*a)
print("rozwiązaniami równania kwadratowego są {} i {}". format(round(x1,2), round(x2,2)))

# Kinga Banys11:13
a=3
b=8
c=-4
delta=b ** 2 - 4 * a * c
x1=(-b+delta**(1/2))/2*a
x2=(-b-delta**(1/2))/2*a
print("x1= to {}, x2 = {} ".format (x1,x2 ))

# Natalia Homa11:15
a = 4
b = 4
c = -9
delta = b ** 2 - 4 * a * c
d = delta ** (1 / 2)
x1 = (-b - d) / (2 * a)
x2 = (-b + d) / (2 * a)
print("x1 = {}, x2 = {}".format(x1, x2))

# Natalia Barwinek11:16
a = 6
b = 6
c = -8
D = b**2 - 4*a*c
x1 = (-b + D**(1/2))/2*a
x2 = (-b - D**(1/2))/2*a
print ("x1 = {}, x2 = {}".format(x1,x2))

# Karolina Sikora11:17
a,b,c = 4,6,-2
D = (b**2 - 4*a*c) ** (1/2)
x1 = (-b - D)/(2*a)
x2 = (-b + D)/(2*a)
print("pierwiastki wielomianu: x1 = {}, x2 = {}".format(x1,x2))

# Jadwiga Jachymiak11:17
a = 5
b = 2
c = -6
delta = b*b-4*a*c
x = ((-b-math.sqrt(delta))/(2*a))
y = ((-b+math.sqrt(delta))/(2*a))

print("x = {}, y = {}".format(x, y))

Rozwiązanie podanego równania: 0.36602540378443865 lub -1.3660254037844386
rozwiązaniami równania kwadratowego są -4.83 i 0.83
x1= to 3.8745078663875443, x2 = -27.874507866387546
x1 = -2.08113883008419, x2 = 1.0811388300841898
x1 = 27.2990066116245, x2 = -63.2990066116245
pierwiastki wielomianu: x1 = -1.7807764064044151, x2 = 0.28077640640441515
x = -1.3135528725660044, y = 0.9135528725660043

# sterowanie programem

## rozgałęzienia

```
if WARUNEK:
    BLOK_INSTRUKCJI_IF
elif WARUNEK_1:
    BLOK_1
elif WARUNEK_2:
    BLOK_2
...
else:
    BLOK_ELSE
```

https://docs.python.org/3/library/operator.html

In [81]:
# bool
True, False

(True, False)

In [86]:
x = 0
if x > 0:
    print('x > 0')
elif x == 0:
    print('x jest 0')
else:
    print('x < 0')

x jest 0

In [104]:
# czy x > 0 i czy jest parzysty 
# and, or, not  <-- operatory logiczne
x = 12

if (x > 0) and (not x % 2):  #(x % 2 == 0):
    print('x jest dodatni i parzysty')
else:
    print('x nie jest taki jaki ma być')

x jest dodatni i parzysty

### Cw 4
Korzystając ze zmiennych, napisz program, który sprawdza czy da się z trzech zmiennych liczbowych zbudować trójkąt a nastepnie oblicza i podaje porządnie sformatowny (`print` i `format`) obwód oraz pole powierzchni trójkąta. Sprawdź dla

* Jadwiga: $a=44, b= 51, c= 62$
* Natalia B: $a=25, b= 85, c= 12$
* Daniel: $a=32, b= 15, c= 20$
* Gabriela: $a=84, b= 96, c= 62$
* Weronika: $a=40, b= 20, c= 83$
* Ziemowit: $a=51, b= 65, c= 45$
* Paweł: $a=38, b= 25, c= 38$
* Karolina: $a=57, b= 69, c= 76$
* Michał T: $a=30, b= 72, c= 66$
* Michał Z: $a=22, b= 84, c= 57$
* Vladyslav: $a=10, b= 27, c= 76$
* Kinga: $a=81, b= 81, c= 97$
* Natalia H: $a=20, b= 95, c= 22$

In [110]:
# Kinga Banys11:49
a = 81
b = 81
c = 97
if a + b > c and b + c > a and a + c > b:
#     print("Można zbudować trójkąt")
    L = a + b + c
    p = (a + b + c) / 2
    P=(p * (p - a) * (p - b) *(p - c)) ** (1/2)
    print("L =  {}, P = {} ".format (L, P ))
else:
    print("Nie można zbudować trójkąta")
    
# Karolina Sikora11:50
a, b, c = 57, 69, 76
if (a < (b+c)) and (b < (a+c)) and (c < (a+b)):
    Obw = a+b+c
    Pole = (Obw/2* (Obw/2-a) * (Obw/2-b) * (Obw/2-c)) ** (1/2)
    print("Obwód = {}, pole = {}".format(Obw,Pole))
else:
    print("Z podanych boków nie da się zbudować trójkąta")
    
# Natalia Homa11:50
a = 20
b = 95
c = 22
if (a + b > c) and (a + c > b) and (b + c > a):
    obw = a + b +c
    o = 1/2 * obw
    pole = (o * (o - a) *(o - b) * (o - c))**(1/2)
    print("Obw = {}, pole = {}".format(obw, pole))
else:
    print("To nie jest trójkąt.")
        
# Jadwiga Jachymiak11:50
a = 44
b = 51
c = 62

if(a>b+c and b>a+c and c>b+a):
#     print("Da sie zbudowac trojkat")

    Obw = a+b+c
    P = a*b/2
    print("Obw = {}, P = {}".format(Obw,P))

else:
    print("Nie da sie zbudowac trojkata")
    
    
# Weronika Ladak11:50
a = 40
b = 20
c = 83

if (a + b > c) and (a + c > b) and (b + c > a):
    obw = a + b + c
    p = 0.5 * obw
    pole = math.sqrt( p * (p-a) * (p-b) * (p-c) )
    print("To jest trójkąt o obwodzie = {} i polu = {}".format(obw, pole))
else:
    print("Nie można zbudować trójkąta")
    
    
# Jadwiga Jachymiak11:52
a = 44
b = 51
c = 62

if(a+b>c and b+c>a and c+a>b):
    print("Da sie zbudowac trojkat")

    Obw = a+b+c
    P = a*b/2
    print("Obw = {}, P = {}".format(Obw,P))

else:
    print("Nie da sie zbudowac trojkata")

# Tu przesyłam poprawione.
# Natalia Barwinek11:53
a = 25
b = 85
c = 12

if a+b > c and a+c> b and b+c > a :
    Obw = a+b+c
    p = Obw/2
    Pol =(p*(p-a)*(p-b)*(p-c))**(1/2)
    print ("Obwód: {}, Pole: {}".format(Obw,Pol))
else:
    print ("nie da się zbudować trójkąta")
    
    
# Daniel Dystrych11:53
def wzor_herona(a,b,c):
    p = (a+b+c) / 2
    pole = (p * (p-a) * (p-b) * (p-c))**(1/2)
    return pole

def czy_trojkat(a,b,c):
    lista = [a, b, c]
    lista.sort()
    if (lista[0] + lista[1]) > lista[2]:
        print("Obwód trójkąta wynosi {}, a jego pole {}".format(sum(lista),wzor_herona(a,b,c)))
    else:
        print("Podane boki nie tworzą trójkąta")

czy_trojkat(31,15,20)


# Michal Zielinski11:54
a = 22
b = 84
c = 57

if (a + b > c) and (a + c > b) and (c + b > a):
    h = (a * 3**(1/2) / 2)
    o = a + b + c
    p = (1/2) * a * h
    
    print("bwód trójkąta wynosi: {} a  jego pole wynosi: {}". format(round(o,2), round(p,2)))
    
    
else:
    print("Trójkąt nie może być zbudowany z podanych odcinków")

L =  259, P = 3146.4316594358124
Obwód = 202, pole = 1885.5237999028282
To nie jest trójkąt.
Nie da sie zbudowac trojkata
Nie można zbudować trójkąta
Da sie zbudowac trojkat
Obw = 157, P = 1122.0
nie da się zbudować trójkąta
Obwód trójkąta wynosi 66, a jego pole 124.27389106324787

## pętle
### `while`

```
while WARUNEK:
    BLOK_WHILE
else:
    BLOK_ELSE
```

In [114]:
i = 0
while i < 10:   # 10 < 10
    if i % 2:  # nieparzyste
        print(i)
    i += 1  # i = i + 1

1
3
5
7
9

### Ćw 5
Z pomocą pętli `while`, `print` i `format` wydrukuj

* Jadwiga: liczby podzielne przez 5 i 4 od -57 do 51
* Natalia B: liczby podzielne przez 5 i 7 od -7 do 93
* Daniel: liczby podzielne przez 3 i 4 od -97 do 79
* Gabriela: liczby podzielne przez 8 i 6 od -80 do 30
* Weronika: liczby podzielne przez 4 i 9 od -96 do 86
* Ziemowit: liczby podzielne przez 5 i 4 od -42 do 0
* Paweł: liczby podzielne przez 7 i 5 od -13 do 89
* Karolina: liczby podzielne przez 4 i 6 od -88 do 100
* Michał T: liczby podzielne przez 9 i 3 od -4 do 96
* Michał Z: liczby podzielne przez 8 i 3 od -61 do 60
* Vladyslav: liczby podzielne przez 5 i 8 od -72 do 24
* Kinga: liczby podzielne przez 4 i 5 od -31 do 87
* Natalia H: liczby podzielne przez 5 i 8 od -19 do 57

In [117]:
# Weronika Ladak12:07
i = -96
while i <= 86:
    if (i % 4 == 0) and (i % 9 == 0):
        print(i)
    i += 1

-72
-36
0
36
72

In [118]:
od, do = -96, 86

i = od
while i <= do:
    if i % 4 == 0: 
        if i % 9 == 0:
            print(i)
    i += 1

-72
-36
0
36
72

In [120]:
# Daniel Dystrych12:11
i = -97
podzielne34 = []
while i<79:
    if ((i % 3 == 0) and (i % 4 == 0)):
        podzielne34.append(i)
    i+=1
print("Liczby podzielne przez 3 i przez 4 to ", podzielne34)

Liczby podzielne przez 3 i przez 4 to  [-96, -84, -72, -60, -48, -36, -24, -12, 0, 12, 24, 36, 48, 60, 72]

## typy sekwencyjne 
* `str`
* `list`
* `tuple`

In [128]:
alfabet = "abcdefghijklmnoprst"
alfabet

'abcdefghijklmnoprst'

In [129]:
alfabet[3]

'd'

In [136]:
alfabet[-3], alfabet[len(alfabet)-3]

('r', 'r')

In [137]:
alfabet[0], alfabet[-len(alfabet)], alfabet[len(alfabet)-len(alfabet)]

('a', 'a', 'a')

In [135]:
len(alfabet)

19

In [138]:
lista = [1, 2, 3, 4]
krotka = (1, 2, 3, 4)
lista

[1, 2, 3, 4]

In [139]:
krotka

(1, 2, 3, 4)

In [140]:
krotka[2]

3

In [141]:
lista[2]

3

In [143]:
alfabet, alfabet[2:7]

('abcdefghijklmnoprst', 'cdefg')

In [151]:
alfabet[2:10:3]  # [od:do:co]

'cfi'

In [152]:
alfabet[-2:-10:-3]  # [od:do:co]

'sol'

In [153]:
alfabet[0:len(alfabet)]

'abcdefghijklmnoprst'

In [155]:
alfabet[:6]

'abcdef'

In [156]:
alfabet[6:]

'ghijklmnoprst'

In [157]:
alfabet[:]

'abcdefghijklmnoprst'

In [159]:
alfabet[::3]

'adgjmpt'

In [160]:
alfabet[::-1]

'tsrponmlkjihgfedcba'

In [161]:
lista[::-1]

[4, 3, 2, 1]

In [163]:
# konkatenacja
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [164]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [166]:
"ala" + 'ma' + '''kota'''

'alamakota'

In [167]:
# puste sekwencje
ps1 = '' # "", '''''', """"""
ps2 = str()

In [168]:
pl1 = []
pl2 = list()

In [169]:
kp1 = ()
kp2 = tuple()

In [173]:
bool(kp1), bool(pl2), bool(ps1)

(False, False, False)

In [175]:
if ps1:
    print('sekwencja ma elementy')
else:
    print('nie ma')

nie ma

## `for`

```
for element in sekwencja:
    BLOK_FOR
```

In [179]:
for element in 'abcde':
    print(ord(element), element, sep=' -> ')

97 -> a
98 -> b
99 -> c
100 -> d
101 -> e

In [182]:
for liczba in lista:
    print(liczba, liczba ** 2)

1 1
2 4
3 9
4 16

In [184]:
L = []  # pusta lista
L += [1, 2, 3]  # L = L + [1, 2, 3]
L

[1, 2, 3]

### Ćw 6
Z pomocą pętli `for` i konkatenacji `lista1 + lista2` zbuduj listę

* Jadwiga: liczb podzielnych przez 9 i 3 od -34 do 50
* Natalia B: liczb podzielnych przez 8 i 7 od -1 do 42
* Daniel: liczb podzielnych przez 9 i 9 od -94 do 34
* Gabriela: liczb podzielnych przez 8 i 5 od -16 do 39
* Weronika: liczb podzielnych przez 4 i 7 od -41 do 33
* Ziemowit: liczb podzielnych przez 7 i 6 od -24 do 15
* Paweł: liczb podzielnych przez 3 i 9 od -32 do 38
* Karolina: liczb podzielnych przez 5 i 8 od -1 do 99
* Michał T: liczb podzielnych przez 4 i 8 od -54 do 37
* Michał Z: liczb podzielnych przez 8 i 5 od -75 do 82
* Vladyslav: liczb podzielnych przez 6 i 3 od -64 do 84
* Kinga: liczb podzielnych przez 5 i 6 od 0 do 98
* Natalia H: liczb podzielnych przez 9 i 6 od -4 do 64

Oblicz ich sumę.

In [188]:
# Vladyslav Sotnikov12:38
L = []
od = -64
do = 84
for i in range(od, do + 1):  #!!! (od, do + 1) !!!
    if i%6 == 0 and i%3 == 0:
        L += [i]
print(sum(L))

300

In [189]:
list(range(1, 10 + 1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [190]:
L = [1, 2, 3]

In [191]:
L.append(44)

In [195]:
L.index(44)

3

In [193]:
K = (1, 2)

In [194]:
K.index(1)

0

In [196]:
# "aaa".